body{
    background-color: white;
}

#contIndex{
    background-color: rgba(224, 235, 125, 0.822);
    border: 1em solid;
    border-color: rgb(102, 214, 248); 
    border-radius: 20px;
    height: 300px;
    width: 850px;
    margin: auto;
    text-align: center;
}

p{
    color: rgb(194, 29, 183);
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#userCharacter{
    width: 100px;
    margin: 25px auto;
    position: relative;
}

#btn{
    margin: 25px auto auto 5px;
    border-radius: 3px;
    font-style: italic;
    position: absolute;
}
.back-music{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.back-music{
    font-size: 18px;
    color: rgb(194, 29, 183);
    font-weight: 400;
    margin-right: 15px;
}#music-txt{
    margin-bottom: 120pxx;
}


#playIcon{
    width: 40px;
    cursor: pointer;
    margin-bottom: 40px;
}